<html>
<head>
<title>Coins Store</title>
<h1>Welcome to coins store</h1>
</head>
<body>
<h2>please insert your money that give to store >..<</h2>
<br />
<form method="POST" name="inputform">
Your money : <input name="money" id="money" placeholder="please insert your money"><br />
Date (blank to current) : <input name="date" id="date" placeholder="yyyy-mm-dd"><br />
<input type="submit" name="send" value="save" id="save" onclick='javascript:document.inputform.accept.value="save"'>
<input type="hidden" name="accept" value="save">
<input type="hidden" name="sortby" id="sortby" value="{% if sort == "new" %}new{% elif sort == "more" %}more{% elif sort == "less" %}less{% else %}old{% endif %}"><br />
{% csrf_token %}

{% if countitem != 0 %}
Sort by :<br />
date new downto old : <input type="radio" name="sort" id="new" onclick='javascript:document.inputform.sortby.value="new"' {% if sort == "new" %}checked{% endif %}><br />
date old downto new : <input type="radio" name="sort" id="old" onclick='javascript:document.inputform.sortby.value="old"' {% if sort != "new" and sort != "more" and sort != "less" %}checked{% endif %}><br />
more value downto less : <input type="radio" name="sort" id="more" onclick='javascript:document.inputform.sortby.value="more"' {% if sort == "more" %}checked{% endif %}><br />
less value downto more : <input type="radio" name="sort" id="less" onclick='javascript:document.inputform.sortby.value="less"' {% if sort == "less" %}checked{% endif %}><br />
<input type="submit" value="Sort !!" id="sort" onclick='javascript:document.inputform.accept.value="sort"'>
</form>
<table border="4" id="datatable">
<tr>
<td>count</td><td>date</td><td>money</td><td></td>
</tr>
{% for item in data %}
<form method="POST">
<tr>
<td>{{ forloop.counter }}</td><td>{{ item.date }}</td><td>{{ item.money }}</td><td><input type="submit" name="accept" value="delete" id="del_{{ forloop.counter }}"></td>
<input type="hidden" value="{{ item.id }}" name="del">
</tr>
{% csrf_token %}
</form>
{% endfor %}
<tr>
<td>total</td><td>{{ total }}</td><td>averages</td><td>{{ averages }}</td>
</tr>
</table>
{% else %}
</form>
<h2>No data in database please insert data</h2>
{% endif %}
</body>
</html>
